FirstDrive/Assets/ML-Agents*
FirstDrive/Library*
FirstDrive/Logs*
FirstDrive/Packages*
FirstDrive/ProjectSettings*
FirstDrive/Temps*
FirstDrive/UserSettings*
FirstDrive/results*
FirstDrive/Assets/results/
